body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto;
}

body div {
    flex: 1;
    padding: 0px 100px;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
}
.links {
    display: flex;
    gap: 24px;
    justify-content: flex-end;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    margin-right: auto;
}

a {
    color: #F9FAF8;
    text-decoration-line: none;
}

.sec1 {
    background-color: #1F2937;

}

.sec2 {

}

.sec3 {
    background-color: #E5E7EB;
}

.sec4 {

}

.footer {
    background-color: #1F2937;

}

button {
    background-color: #3882f6;
}

.center {
    background-color: #3882f6;
}
