body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto;
}

body div {
    flex: 1;
}

body .header {
    background-color: #1F2937;
    color: white;
    display: flex;
    padding-top: 18px;
}
.links {
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    color: #E5E7EB;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    margin-right: auto;
}

a {
    color: #F9FAF8;
    text-decoration-line: none;
}

.header, .sec1, .sec2, .sec3, .sec4, .footer {
    padding: 0px 220px;
}

.sec1 {
    background-color: #1F2937;
    display: flex;
    padding-top: 24px;
    padding-bottom: 48px;
}
.head {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    width: 300px;
}

.subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.sec1 .subtext {
    width: 400px;
}
.content-left {
    flex: 1;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.img-placeholder {
    background-color: #e5e7eb90;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
}

.placeholder-text {
    color: #F9FAF8;
    text-align: center;
}

body .sec2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.illustrations {
    display: flex;
    justify-content: center;
    gap: 2px;
    padding: 32px;
    padding-bottom: 72px;
}
.information {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    align-self: center;
    padding: 24px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.illustration {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border-color: #3882f6;
    flex: 0 0 150px;
    border-style: solid;
    margin-bottom: 8px;
    border-width: 4px;
}

.block .subtext {
    width: 150px;
    color: #1F2937;
    text-align: center;
}

.sec3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
    padding: 0px 150px;
    padding-top: 150px;
}

.source {
    align-self: flex-end;
    padding: 0px 150px;
    padding-bottom: 150px;
}

.sec4 {

}

.footer {
    background-color: #1F2937;

}

button {
    box-sizing: content-box;
    background-color: #3882f6;
    color: #F9FAF8;
    width: 70px;
    flex: 0;
    padding: 5px 20px;
    border-radius: 8px;
    border-style: none;
    margin-top: 12px;
    font-size: 18px;
    font-weight: 700;
}

.center {
    background-color: #3882f6;
}
